<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="API Route To Index" stopProcessing="true">
          <match url="^api(?:/(.*))?$" ignoreCase="true" />
          <action type="Rewrite" url="api/index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

